{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <form action="login" method="POST">
            {% csrf_token %}
            <img class="Uicon" src="{% static 'user.png' %}" alt=""><br>
            <label for="">Username:</label><input type="text" name="username" placeholder="Username"><br>
            <label for="">Password:</label><input type="password" name="password" placeholder="Password"><br>
            <div class="btn">
                <input type="submit">
            </div>
        </form>
    </div>
    <div>
        {% for message in messages %}
        <li>{{message | safe }}</li>
        {% endfor %}

    </div>
</body>

</html>